---
# layout: default
title: "Tag"
description: "Page listing all notes for one tag"
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
<h1>Étiquette: « {{ tag }} »</h1>
<ul>
{% set taglist = collections[ tag ] %}
{% for p in taglist | sort(false, false, 'data.title') %}
{# {% for p in taglist | sortByTitle %} #}
  <li><a href="{{ p.url }}">{{ p.data.title }}</a> {%if p.date %}<span class="small">| <time>{{ p.date.toLocaleDateString() }}</time></span>{% endif %}</li>
{% endfor %}
</ul>
